<center>

<p>
  <strong>Tarvike:</strong>
  <%= @pan.title %>
</p>

<p>
  <strong>Hinta:</strong>
  <%= @pan.text %>
</p>


<%= link_to 'Editoi', edit_pan_path(@pan) %>
<%= link_to 'Takaisin listaan', pans_path %>
