<center>

<h1>Onnittelut ylioppilaalle!!</h1>
<h2>Laita tähän tarvitsemasi keittiökamat (ruuanlaittotarvikkeita) <br>
  ja me maksetaan, yhteensä €150 verran!</h2>
<%= link_to 'Tarvikelista', controller: 'pans' %>
<br>
<br>
<img src="../kuja.jpeg" style="width:1411px;height:1058px;">
