<center>

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

body {
    background-image: url(../kuja.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.container {
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* This next section will apply the same styling to all links: */
a:link, a:visited {
background-color: Transparent;
color: white;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
}

a:hover, a:active {
  opacity: 0.5;
}

</style>
</head>
<body>

<div class="container">
  <img src="../kuja.jpeg" style="width:100%;">
  <div class="centered">

<h1>Onnittelut ylioppilaalle!!</h1>
<h2>Laita tähän tarvitsemasi keittiökamat (ruuanlaittotarvikkeita)!
</h2>
<%= link_to 'Tästä pääset listaan', controller: 'pans' %>
<br>
<br>
<!-- <img src="../kuja.jpeg" style="width:1411px;height:1058px;"> -->
</div>
</div>
</body>
